[user]
name = Philipp Andreychev
email = andreychev@me.com
[core]
editor = vim
excludesfile = ~/.gitignore
[commit]
verbose = true
[color]
branch = auto
diff = auto
interactive = auto
status = auto
[init]
defaultBranch = master
[web]
browser = google-chrome
[credential]
helper = osxkeychain
[filter "lfs"]
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
[pull]
rebase = true
